// =================================================================================================
// COLORS 
// =================================================================================================
$red: #f28fad;
$orange: #f8bd96;
$yellow: #fae3b0;
$green: #abe9b3;
$teal: #b5e8e0;
$blue: #96cdfb;
$sky: #89dceb;
$purple: #ddb6f2;
$pink: #f5c2e7;
$maroon: #e8a2af;

$black: #1E1E2E;
$black2: #1A1826;
$black3: #161320;

// =================================================================================================
// GLOBAL BAR STUFF
// =================================================================================================
* {
  all: unset;
  font-family: "Cartograph CF";
}

.sideways_bar {
  background-color: $black2;
}

// =================================================================================================
// TIME WIDGET
// =================================================================================================
.hour {
  font-size: 20px;
  color: $blue;
}

.min {
  font-size: 20px;
  color: $red;
}

// =================================================================================================
// WORKSPACE WIDGET
// =================================================================================================
@for $i from 1 through 10 {
    $main_color : black;
    @if      $i == 1  {$main_color : $pink}
    @else if $i == 2  {$main_color : $purple}
    @else if $i == 3  {$main_color : $maroon}
    @else if $i == 4  {$main_color : $red}
    @else if $i == 5  {$main_color : $orange}
    @else if $i == 6  {$main_color : $yellow}
    @else if $i == 7  {$main_color : $green}
    @else if $i == 8  {$main_color : $teal}
    @else if $i == 9  {$main_color : $blue}
    @else if $i == 10 {$main_color : $sky}
    .spc#{$i} {
        font-size: 29px;
        border-radius: 50px;
        &.active {
            color: $black3;
            background-color: $main_color;
        }
        &.inactive {
            color: $main_color;
            background-color: $black2;
        }
    }
}

// =================================================================================================
// VOLUME/AUDIO
// =================================================================================================
.volume {
    font-size: 29px;
    color: $yellow;
}

.media-player {
    background-color: $black3;
}

.player-title {
    background-color: $black;
    font-size: 25;
    padding-left: 30;
}

.player-artist {
    background-color: $black2;
    font-size: 18;
    padding-left: 30;
    font-style: italic;
}

.player-bar trough {
    min-height: 10px;
    progress {
        min-height: 10px;
        background-color: $green;
        border-radius: 5px;
    }
}

.media-button {
    background-color: $black3;
    font-size: 20;
    &.prev {
        color: $purple;
    }
    &.pause {
        color: $red;
    }
    &.skip {
        color: $blue;
    }
}

// =================================================================================================
// BRIGHTNESS
// =================================================================================================
.bright-bar trough {
  background-color: $red;
  border-radius: 5px;
  min-height: 25px;
  min-width: 15px;
  margin: .3rem 0 .3rem 0;
}

.bright-bar trough highlight {
  background-color: $blue;
  border-radius: 5px;
}

.power-menu {
  font-size: 29px;
}

.button-reboot {
    color: $green;
}

.button-logout {
    color: $blue;
}

.button-lock {
    color: $purple;
}

.button-off {
    color: $red;
}

.bright {
    font-size: 29px;
    color: $orange;
}

// =================================================================================================
// CALENDAR WIDGET
// =================================================================================================
calendar {
    background-color: $black;
    &:selected {
        color: $red;
    }
    &:indeterminate {
        color: $black;
    }
    &.header {
        color: $blue;
    }
    &.button {
        color: $green;
    }
    &.highlight {
        color: $red;
    }
}
