// =================================================================================================
// COLORS 
// =================================================================================================
$red: #f28fad;
$orange: #f8bd96;
$yellow: #fae3b0;
$green: #abe9b3;
$teal: #b5e8e0;
$blue: #96cdfb;
$sky: #89dceb;
$purple: #ddb6f2;
$pink: #f5c2e7;
$maroon: #e8a2af;

$black: #1E1E2E;
$black2: #1A1826;
$black3: #161320;

// =================================================================================================
// GLOBAL BAR STUFF
// =================================================================================================
* {
    all: unset;
    font-family: "Cartograph CF";
}

.test {
    background-color: $black;
}

.media-player {
    background-color: $black;
}

.player-image {
    padding-top: 30px;
}

.player-title {
    font-size: 23px;
    padding-top: 20px;
}

.player-artist {
    font-size: 15px;
}

.player-bar trough {
    min-height: 10px;
    progress {
        min-height: 10px;
        background-color: $green;
        border-radius: 5px;
    }
}

.media-button {
    font-size: 20px;
    background-color: $black3;
    &.prev {
        color: $blue;
    }
    &.play-pause {
        color: $purple;
    }
    &.skip {
        color: $red;
    }
}
