// =================================================================================================
// COLORS 
// =================================================================================================
$red: #f28fad;
$orange: #f8bd96;
$yellow: #fae3b0;
$green: #abe9b3;
$teal: #b5e8e0;
$blue: #96cdfb;
$sky: #89dceb;
$purple: #ddb6f2;
$pink: #f5c2e7;
$maroon: #e8a2af;

$black: #1E1E2E;
$black2: #1A1826;
$black3: #161320;

// =================================================================================================
// GLOBAL BAR STUFF
// =================================================================================================
* {
  all: unset;
  font-family: "Cartograph CF";
}

.topbar {
    background-color: $black3;
    border-radius: 10px;
}

// =================================================================================================
// TIME WIDGET
// =================================================================================================
.time {
  font-size: 20px;
  color: $blue;
}

// =================================================================================================
// WIFI WIDGET
// =================================================================================================
.wifi {
    color: $red;
    font-size: 20px;
    margin: 7px 10px 7px 0px;
    padding-right: 10px;
}

.wifi-icon {
    background-color: $red;
    color: $black;
    padding: 0px 15px 0px 15px;
    margin-right: 10px;
    font-size: 25px;
}

// =================================================================================================
// BATTERY WIDGET
// =================================================================================================
.battery {
    color: $green;
    font-size: 20px;
    margin: 7px 10px 7px 0px;
    padding-right: 10px;
}

.battery-icon {
    color: $black;
    background-color: $green;
    padding: 0px 15px 0px 15px;
    margin-right: 10px;
    font-size: 25px;
}

// =================================================================================================
// WORKSPACE WIDGET
// =================================================================================================
.workspaces {
    margin-left: 10px;
    font-size: 28px;
}

@for $i from 1 through 10 {
    $main_color : black;
    @if      $i == 1  {$main_color : $orange}
    @else if $i == 2  {$main_color : $red}
    @else if $i == 3  {$main_color : $purple}
    @else if $i == 4  {$main_color : $green}
    @else if $i == 5  {$main_color : $blue}
    .spc#{$i} {
        color: $main_color;
        &.active {
            border-bottom: 3px solid $main_color;
        }
    }
}
