// =================================================================================================
// COLORS 
// =================================================================================================
$rosewater: #f5e0dc;

$red:       #f38ba8;
$orange:    #fab387;
$yellow:    #f9e2af;
$green:     #a6e3a1;
$teal:      #94e2d5;
$sky:       #89dceb;
$blue:      #89b4fa;
$purple:    #cba6f7;
$pink:      #f5c2e7;
$orange:    #fab387;

$black:     #161320;
$black2:    #1E1E2E;

// =================================================================================================
// GLOBAL BAR STUFF
// =================================================================================================
* {
    all: unset;
    font-family: "Cartograph CF", "JetBrains Mono Nerd Font";
}

// =================================================================================================
// PROFILE
// =================================================================================================
.profile {
    background-color: $black;
    border-radius: 10px;
    border-top: 5px solid $sky;
}

.profile-name {
    color: $sky;
    font-size: 30px;
}

.status-preface {
    color: $purple;
    padding-bottom: 30px;
    padding-top: 30px;
}

.status-input {
    color: $pink;
    padding: 30px 10px 30px 0px;
}

// =================================================================================================
// TODO LIST
// =================================================================================================
.todo-list {
    background-color: $black;
    border-radius: 10px;
    padding: 5px;
    border-top: 5px solid $purple;
}

.todo-title {
    font-size: 30px;
    background: $blue;
    color: $black;
    border-radius: 10px;
}

.todo-item {
    background-color: $black2;
    margin: 3px;
    border-radius: 10px;
    &.todo1 {
        color: $red;
        border-bottom: 2px solid $red;
    }
    &.todo2 {
        color: $orange;
        border-bottom: 2px solid $orange;
    }
    &.todo3 {
        color: $yellow;
        border-bottom: 2px solid $yellow;
    }
    &.todo4 {
        color: $green;
        border-bottom: 2px solid $green;
    }
    &.todo5 {
        color: $teal;
        border-bottom: 2px solid $teal;
    }
}

.todo-check {
    font-size: 20px;
}

.todo-input {
    padding: 0px 5px 0px 5px;
}
// =================================================================================================
// QUOTE
// =================================================================================================
.quote {
    background-color: $black;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    font-style: italic;
    font-size: 15px;
    color: $rosewater;
    border-top: 5px solid $rosewater;
}

// =================================================================================================
// WEATHER
// =================================================================================================
.weather {
    background-color: $black;
    border-radius: 10px;
    border-top: 5px solid $teal;
}

.weather-icon {
    font-size: 70px;
    color: $orange;
}

.weather-city {
    font-size: 20px;
    color: $teal;
}

.weather-temp {
    font-size: 30px;
    color: $sky;
}

// =================================================================================================
// SEARCH BAR
// =================================================================================================
.search-bar {
    background-color: $black;
    border-radius: 10px;
    border-top: 5px solid $red;
}

.search-inner {
    background-color: $black2;
    margin: 20px;
    border-radius: 10px;
}

.search-preface {
    padding-left: 10px;
}

.search-input {
    padding-left: 10px;
    color: $red;
}

.search-icon {
    padding-right: 20px;
    padding-left: 10px;
    color: $red;
}

// =================================================================================================
// MEDIA PLAYER
// =================================================================================================
.media-player {
    background-color: $black;
    border-radius: 10px;
    border-top: 5px solid $green;
}

.player-image {
    padding-top: 30px;
}

.player-title {
    font-size: 23px;
    padding-top: 20px;
}

.player-artist {
    font-size: 15px;
}

.player-bar trough {
    min-height: 10px;
    progress {
        min-height: 10px;
        background-color: $green;
        border-radius: 5px;
    }
}

.media-button {
    font-size: 20px;
    background-color: $black2;
    &.prev {
        color: $blue;
    }
    &.play-pause {
        color: $purple;
    }
    &.skip {
        color: $red;
    }
}

// =================================================================================================
// TIME & CALENDAR
// =================================================================================================
.time {
    border-top: 5px solid $yellow;
    background-color: $black;
    border-radius: 10px;
    font-size: 30px;
    color: $yellow;
}

calendar {
    background-color: $black;
    color: $rosewater;
    font-size: 16px;
    border-radius: 10px;

    &.header {
        color: $red;
        margin-top: 10px;
    }
    &.button {
        color: $red;
    }
    &.highlight {
        color: $red;
    }
    &:selected {
        color: $red;
    }
    &:indeterminate {
        color: $black;
    }
}

// =================================================================================================
// SHORTCUTS
// =================================================================================================
.shortcut {
    font-size: 45px;
    border-radius: 10px;
    color: $black;
    &.spotify {
        background-color: $green;
    }
    &.usaco {
        background-color: $purple;
    }
    &.youtube {
        background-color: $red;
    }
    &.discord {
        background-color: $blue;
    }
}
