// =================================================================================================
// COLORS 
// =================================================================================================
$white:     #BAC2DE;

$red:       #f38ba8;
$orange:    #fab387;
$yellow:    #f9e2af;
$green:     #a6e3a1;
$teal:      #94e2d5;
$sky:       #89dceb;
$blue:      #89b4fa;
$purple:    #cba6f7;
$pink:      #f5c2e7;
$orange:    #fab387;

$black:     #161320;
$black2:    #1E1E2E;

// =================================================================================================
// GLOBAL BAR STUFF
// =================================================================================================
* {
    all: unset;
    font-family: "Cartograph CF";
}

.menu {
    background-color: $black;
    padding: 20px;
    border-radius: 10px;
}

// =================================================================================================
// PROFILE
// =================================================================================================
.profile {
    background-color: $black2;
    border-radius: 10px;
    padding-left: 20px;
}

.profile-name {
    color: $blue;
    font-size: 30px;
}

// =================================================================================================
// CONTROL MENU + BATTERY
// =================================================================================================
.control-icon {
    color: gray;
    font-size: 28px;
    margin: 0px 0px 0px 0px;
    background-color: $black2;
    border-radius: 50px;
}

.control-bar {
    margin-top: 20px;
    trough {
        border-radius: 15px;
        min-height: 12px;
        min-width: 30px;
        background-color: $black2;
    }
    trough highlight {
        border-radius: 15px;
    }
    &.volume {
        trough highlight {
            background-color: $red;
        }
    }
    &.microphone {
        trough highlight {
            background-color: $yellow;
        }
    }
    &.brightness {
        trough highlight {
            background-color: $blue;
        }
    }
}

.battery {
    margin-left: 20px;
}

.battery-progress {
    background-color: $black2;
    font-size: 70px;
    color: $green;
}

.time-remaining {
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    font-family: "JetBrains Mono Nerd Font";
    color: $red;
}

// =================================================================================================
// METAINFO
// =================================================================================================
.metainfo {
    background-color: $black2;
    color: $white;
    font-size: 20px;
    border-radius: 10px;
    font-family: "JetBrains Mono Nerd Font";
}

// =================================================================================================
// TODO LIST
// =================================================================================================
.todo-list {
    background-color: $black2;
    border-radius: 20px;
    padding: 5px;
}

.todo-item {
    background-color: $black;
    border-radius: 5px;
    margin: 5px;
    &.todo1 {
        color: $red;
        border-bottom: 2px solid $red;
    }
    &.todo2 {
        color: $orange;
        border-bottom: 2px solid $orange;
    }
    &.todo3 {
        color: $yellow;
        border-bottom: 2px solid $yellow;
    }
    &.todo4 {
        color: $green;
        border-bottom: 2px solid $green;
    }
    &.todo5 {
        color: $teal;
        border-bottom: 2px solid $teal;
    }
}
.todo-check {
    font-size: 20px;
    margin-left: 5px;
}

.todo-input {
    padding: 0px 5px 0px 5px;
}

// =================================================================================================
// MEDIA PLAYER 
// =================================================================================================
.media-player {
    background-color: $black2;
    border-radius: 10px;
    padding: 10px;
}

.player-image {
    margin-right: 10px;
}
.player-title {
    padding-top: 10px;
    font-size: 23px;
}

.player-artist {
    font-size: 15px;
}

.player-bar trough {
    background-color: $black;
    min-height: 7px;
    progress {
        background-color: $green;
    }
}

.media-button {
    font-size: 20px;
    background-color: $black;
    &.prev {
        color: $blue;
    }
    &.play-pause {
        color: $purple;
    }
    &.skip {
        color: $red;
    }
}

// =================================================================================================
// POWER MENU
// =================================================================================================
.power {
    font-size: 45px;
    background-color: $black2;
    border-radius: 50px;
    color: $black;
    &.restart {
        background-color: $green;
    }
    &.sleep {
        background-color: $blue;
    }
    &.lock {
        background-color: $purple;
    }
    &.shutdown {
        background-color: $red;
    }
}
